---
layout: page
title: Community
permalink: /community/
---

<section class="bg-darkest-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                <!-- <h2 class="pt-5 pb-3">Events</h2> -->
                {% for event in site.data.events %}
                {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                {% capture eventtime %}{{event.date_time_end | date: '%s'}}{% endcapture %}
                {% if eventtime > nowunix and event.kind == "Event" %}
                <div class="pt-4">
                    <h3>{{ event.title }}</h3>
                    <div>
                        <a href="{{ event.link_url }}" target="_blank" title="{{ event.link_title }}">{{
                            event.link_title }}</a>
                    </div>
                    <div>Location: {{ event.location }}</div>
                    <div>Date: {{ event.date_time_start | date: "%d.%m.%Y %H:%M" }} - {{ event.date_time_end | date: "%H:%M"
                        }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row local-meetups mt-5">
            <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 pt-5 pb-5">
                <h2 class="pt-3 pb-3">Local Meetups</h2>
                {% for meetup in site.data.meetups %}
                {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                {% capture eventtime %}{{meetup.date_time_end | date: '%s'}}{% endcapture %}
                {% if eventtime > nowunix and meetup.kind == "Meetup" %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="../img/meetups/{{ meetup.meetup_img }}" class="p-4 img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">{{ meetup.title }}
                                    <span class="d-none d-sm-inline text-center">
                                        <a href="{{ meetup.group_url }}" target="_blank">
                                            <i class="fa-brands fa-telegram fa-xl"></i>
                                        </a>
                                    </span>
                                </h5>
                                <div class="d-sm-none text-center">
                                        <a href="{{ meetup.group_url }}" target="_blank">
                                            <i class="fa-brands fa-telegram fa-2xl"></i>
                                        </a>
                                </div>
                                <!--<p class="card-text">
                                <div class="fw-bold pe-2">Next Meetup:</div>
                                <div>Location: {{ meetup.location }}</div>
                                <div>Date: {{ meetup.date_time_start | date: "%d.%m.%Y %H:%M" }} - {{ meetup.date_time_end | date: "%H:%M"
                                    }}</div>
                                </p>-->
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
