<section id="contact">
    <div class="container">
        <!--div class="row">
            <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 text-center">
                <h2 class="section-heading">Contact Headline</h2>
                <h5>Contact Sub-Headline</h5>
            </div>
        </div-->

        <div class="row">
            <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 d-flex justify-content-around align-items-center flex-wrap pt-3">
                <div class="text-center">
                    <a href="{{ site.social_twitter }}" target="_blank">
                        <i class="fa-brands fa-x-twitter fa-xl"></i>
                    </a>
                </div>

                <div class="text-center">
                    <a href="{{ site.social_instagram }}" target="_blank">
                        <i class="fa-brands fa-instagram fa-xl"></i>
                    </a>
                </div>

                <div class="text-center">
                    <a href="{{ site.social_github }}" target="_blank">
                        <i class="fa-brands fa-github fa-xl"></i>
                    </a>
                </div>

                <div class="text-center">
                    <a href="{{ site.social_linktree }}" target="_blank">
                        <i class="fa-solid fa-link fa-xl"></i>
                    </a>
                </div>

                <div class="text-center">
                    <a href="{{ site.social_telegram }}" target="_blank">
                        <i class="fa-brands fa-telegram fa-xl"></i>
                    </a>
                </div>

                <div class="text-center">
                    <a href="mailto:{{ site.email }}" target="_blank">
                        <i class="fa-regular fa-envelope fa-xl"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
