<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-md-start">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center flex-box">
                <div class="pe-md-4"><a class="page-scroll" href="/#contact">Contact</a></div>
                <div class="pe-md-4"><a href="/impressum">Impressum</a></div>
                <div class="pe-md-4"><a href="/privacy">Privacy</a></div>
            </div>
        </div>
    </div>
</footer>
