{% include navbar.html %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro-text">
                    <div class="intro-box d-flex flex-column justify-content-center align-items-center">
                        <div class="intro-heading text-uppercase">Nothing in life is to be feared, it is<br/> only to be understood. Now is the <br/> time to understand more, so that <br/> we may fear less. </div>
                        <div class="intro-lead-in">Marie Curie</div>
                        <div class="p-md-5 w-50">
                            <img src="/img/herbitcoin_01.png" class="img-fluid" alt="HerBitcoin">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="notification-line d-flex justify-content-center align-items-center">
    <div class="icon text-center p-3">
        <i class="fa-brands fa-bitcoin fa-xl fa-beat"></i>
    </div>
    <div class="info text-center">
        <h5 class="m-0">Her Bitcoin for more women in Bitcoin</h5>
    </div>
    <div class="icon text-center p-3">
        <i class="fa-brands fa-bitcoin fa-xl fa-beat"></i>
    </div>
</div>

